<div class="beer-wrapper">
    <strong class="beer-title">
        {{ beerItem.name }}<br> {{ beerItem.ingredients.yeast }}
    </strong>
    <div class="img-container">
        <img [src]="beerItem.image_url">
    </div>
    <!-- {{beerItem.description}} -->
    <mat-accordion multi>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Hops</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list role="list" *ngFor="let hop of beerItem.ingredients.hops">
                <mat-list-item role="listitem">
                    <div matListItemTitle>{{hop.name}}, kind: {{hop.attribute}}</div>
                    <div matListItemLine>Added {{hop.amount.value}} {{hop.amount.unit}} on the {{hop.add}}</div>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Malt</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list role="list" *ngFor="let malt of beerItem.ingredients.malt">
                <mat-list-item role="listitem">
                    <div matListItemTitle>{{malt.name}}</div>
                    <div matListItemLine>{{malt.amount.value}} {{malt.amount.unit}}</div>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Food pairing</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list role="list" *ngFor="let food of beerItem.food_pairing">
                <mat-list-item role="listitem">
                    <div matListItemTitle>{{food}}</div>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>