<main class="wrapper">
  <section class="section-wrapper">
    <mat-form-field>
      <mat-label>Beer filter</mat-label>
      <input matInput type="text" [(ngModel)]="query" (keyup)="filterBeers()">
      <button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query=''; filterBeers()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div class="list-wrapper">
      <ng-container *ngFor="let beer of beersList">
        <app-beer-item [beerItem]="beer"></app-beer-item>
      </ng-container>
    </div>
  </section>
</main>